@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root{
    --dosis:"Dosis", sans-serif;
    --open-sans: "Open Sans", sans-serif;
}
a,h1,h2,h3{
    font-family: var(--dosis);
}
h4,h5,h6,p{
    font-family: var(--open-sans);
}
button{
    font-family: var(--dosis);
}
.introduction{
    background: #f9f9f9 !important;
}
.introduction .row .col-md-6 h2{
    font-size: 42px;
    font-weight: 900;
}